<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Test Title</title>
  </head>
  <body>
    <p>My test body</p>
    <%= body %>
    <p>My i18next test body</p>
    <%= t('locale.language') %>
    <img src="/static/images/uploads/836b44e88c3f21ce4e203444040fb055" alt="test">
  </body>
</html>
